<footer class="contacts">
    <div class="container">
        <div class="block_title">
            <p class="zag">Контакты</p>
            <p class="text">Наши склады имеют удобное расположение: 2 минуты до Окружной и 5 минут до центра города.</p>
        </div>
        </div>
    <div class="container">
    <div class="block_contact">
        <div class="left_block_cont">
            <div>
                <p class="phone mob_none">+7 (4012)<span> 505 255</span></p>
                <p class="phone mob_none">+7 (952)<span> 795 55 97</span></p>
                <p class="phone usual-none"><a href="tel:+74012505255">+7 (4012)<span> 505 255</span></a></p>
                <p class="phone usual-none"><a href="tel:+79527955597">+7 (952)<span> 795 55 97</span></a></p>
                <div class="add mob-none">
                    <p>г. Калининград ул. Лейтенанта Катина, 88</p>
                </div>
                <!--<a href="mailto:info@specsnab39.ru" title="Написать письмо">info@specsnab39.ru</a><br/>-->
                 <a href="mailto:tender@specsnab39.ru" title="Написать письмо">tender@specsnab39.ru</a><br/>
                <a href="mailto:dna@specsnab39.ru" title="Написать письмо">dna@specsnab39.ru</a><br/>
                <div class="route"><a href="https://yandex.ru/maps/22/kaliningrad/?from=api-maps&ll=20.436319%2C54.731822&mode=routes&origin=jsapi_2_0&rtext=~54.733151%2C20.434292&rtt=pd&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D20.434%252C54.733%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259A%25D0%25B0%25D0%25BB%25D0%25B8%25D0%25BD%25D0%25B8%25D0%25BD%25D0%25B3%25D1%2580%25D0%25B0%25D0%25B4%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259B%25D0%25B5%25D0%25B9%25D1%2582%25D0%25B5%25D0%25BD%25D0%25B0%25D0%25BD%25D1%2582%25D0%25B0%2520%25D0%259A%25D0%25B0%25D1%2582%25D0%25B8%25D0%25BD%25D0%25B0%252C%252086&z=15" target="_blank">Построить маршрут</a></div>
            </div>  
            <div class="copyright">
                <p>Спецснаб &#169; 2025</p><a href="http://kit39.com/" target="_blank" title="Создание и разработка сайта - студия КИТ" id="kit"></a>
            </div>
        </div>
        <div id="map"></div>
    </div>
    </div>
</footer>

<div class="black_theme_modal call_modal">
   <div class="openModal">
        <i class="fa fa-times" aria-hidden="true"></i>
        <form class="form av-form2">
            <div class="title">Заказать обратный звонок</div>
            <div>
                <div class="form__form-block form-block line">
                    <label data-error="Введите Ваше имя" data-success="ФИО" for="FORM3_field14">Ваше имя *</label> 
                    <input class="form-block__obligatory-field" id="FORM3_field14" name="ФИО" type="text" />
                </div> 
            
                <div class="form__form-block form-block line">
                    <label data-error="Введите корректный номер" data-success="Телефон *" for="FORM3_field15">Телефон *</label> 
                    <input class="form-block__phone-field-11 form-block__number-field form-block__obligatory-field" id="FORM3_field15" name="Телефон" type="text">
                </div>
            </div>
            
            <div class="form__form-select">
                <input id="FORM3_select1" type="checkbox" />
                <label for="FORM3_select1">Согласен с <a href="/soglashenie.pdf" target="_blank">политикой конфиденциальности</a> и получение информационных рассылок</label>
            </div> 
            <div class="form__form-block form-block form-block-submit">
                <button type="submit">Отправить</button>
                <input name="title" type="hidden" value="Вопрос" />
            </div>
        </form>
   </div>
</div>

<div class="black_theme_modal buy">
   <div class="openModal">
        <i class="fa fa-times" aria-hidden="true"></i>
        <form class="form av-form2">
            <div class="title">Купить антисептик</div>
            <div>
                <div class="form__form-block form-block line">
                    <label data-error="Введите Ваше имя" data-success="ФИО" for="FORM4_field14">Ваше имя *</label> 
                    <input class="form-block__obligatory-field" id="FORM4_field14" name="ФИО" type="text" />
                </div> 
                <div class="form__form-block form-block line">
                    <label data-error="Введите количество" data-success="Количество" for="FORM4_field11">Количество</label> 
                    <input class="form-block__obligatory-field" id="FORM4_field11" name="Количество" type="text" />
                </div> 
                <div class="form__form-block form-block line">
                    <label data-error="Введите корректный номер" data-success="Телефон *" for="FORM4_field15">Телефон *</label> 
                    <input class="form-block__phone-field-11 form-block__number-field form-block__obligatory-field" id="FORM4_field15" name="Телефон" type="text">
                </div>
            </div>
            <div class="form__form-select">
                <input id="FORM4_select1" type="checkbox" />
                <label for="FORM4_select1">Согласен с <a href="/soglashenie.pdf" target="_blank">политикой конфиденциальности</a> и получение информационных рассылок</label>
            </div> 
            <div class="form__form-block form-block form-block-submit">
                <button type="submit">Купить</button>
                <input name="title" type="hidden" value="Заказ антисептика" />
            </div>
        </form>
   </div>
</div>
<div class="hide-window thanks">
   <div class="hide-window__hide-window-wrapper hide-window-wrapper">
       <i class="fa fa-times" aria-hidden="true"></i>
       <div class="title">Спасибо!</div>
       <div class="text">Ваша заявка успешно отправлена.<br>Наш менеджер свяжется с Вами в ближайшее время.</div>
   </div>
</div>

<div class="black_theme_modal price_modal">
   <div class="openModal">
        <i class="fa fa-times" aria-hidden="true"></i>
        <form class="form av-form2">
             <div class="title">Запросить прайс-лист</div>
            <div class="form__form-block form-block line">
                <label data-error="Введите корректный номер" data-success="Телефон *" for="FORM1_field1">Телефон *</label> 
                <input class="form-block__phone-field form-block__number-field form-block__obligatory-field" id="FORM1_field1" name="Телефон" type="text">
            </div>
            
            <div class="form__form-block form-block line">
                <label data-error="Введите корректный e-mail" data-success="E-mail" for="FORM1_field2" class="">E-mail *</label> 
                <input class="form-block__mail-field form-block__obligatory-field" id="FORM1_field2" name="E-mail" type="text">
            </div>
            
            <div class="form__form-block form-block line">
                <label data-error="Наименование организации" data-success="Организация" for="FORM1_field3">Организация *</label> 
                <input class="form-block__obligatory-field" id="FORM1_field3" name="Организация" type="text">
            </div> 
            
            <div class="form__form-block form-block line">
                <label data-error="Комментарии" data-success="Комментарии" for="FORM1_field4" class="">Комментарии</label> 
                <input class="" id="FORM1_field4" name="Комментарии" type="text">
            </div> 
        
            <div class="form__form-select">
                <input id="FORM1_select" type="checkbox">
                <label for="FORM1_select">Согласен с <a href="/soglashenie.pdf" target="_blank">политикой конфиденциальности</a>  и получение информационных рассылок</label>
            </div> 
        
            <div class="form__form-block form-block form-block-submit">
                <button type="submit">Запросить</button>
                <input name="title" type="hidden" value="Запросить прайс-лист ">
            </div>
        </form>
   </div>
</div>



<div class="black_theme_modal solicit_proposals_modal">
   <div class="openModal">
        <i class="fa fa-times" aria-hidden="true"></i>
        <form class="form av-form2">
            <div class="title">Запросить предложение</div>
                <div class="form__form-block form-block line">
                    <label data-error="Введите корректный номер" data-success="Телефон *" for="FORM1_field7">Телефон *</label> 
                    <input class="form-block__phone-field form-block__number-field form-block__obligatory-field" id="FORM1_field7" name="Телефон" type="text">
                </div>
                
                <div class="form__form-block form-block line">
                    <label data-error="Введите корректный e-mail" data-success="E-mail" for="FORM1_field6" class="">E-mail *</label> 
                    <input class="form-block__mail-field form-block__obligatory-field" id="FORM31field6" name="E-mail" type="text">
                </div>
                
                <div class="form__form-block form-block line">
                    <label data-error="Наименование организации" data-success="Организация" for="FORM1_field5">Организация *</label> 
                    <input class="form-block__obligatory-field" id="FORM1_field5" name="Организация" type="text">
                </div> 
    
                <div class="form__form-select">
                    <input id="FORM2_select" type="checkbox">
                    <label for="FORM2_select">Согласен с <a href="/soglashenie.pdf" target="_blank">политикой конфиденциальности</a>  и получение информационных рассылок</label>
                </div> 
            
                <div class="form__form-block form-block form-block-submit">
                    <button type="submit">Запросить</button>
                    <input name="title" type="hidden" value="Запросить предложения">
                </div>
        </form>
   </div>
</div>
<style>
    #cookie_note{
    display: none;
    position: fixed;
    bottom: 15px;
    left: 50%;
    max-width: 90%;
    transform: translateX(-50%);
    padding: 23px;
    background-color: #e9e9e9;
    border-radius: 4px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
    z-index:900;
}
.button_cookie{
    font-size: 16px;
    transition: .4s;
    height: 42px;
    cursor: pointer;
    padding: 11px 45px;
    color: #FFF;
    width: 300px;
    -webkit-appearance: none;
    outline: none;
    display: block;
    position: relative;
        background: linear-gradient(45deg, rgba(194, 198, 88, 1) 0%, rgba(149, 173, 98, 1) 100%);
    z-index: 1;
    border: none;
}

#cookie_note p{
    margin: 0;
    font-size: 16px;
    text-align: left;
    color: black;
}
#cookie_note a{
    color:rgba(149, 173, 98, 1) !important;
}

@media (min-width: 576px){
    #cookie_note.show{
    display: flex;
    align-items: center;
    gap: 25px;
    }
}

@media (max-width: 575px){
    #cookie_note.show{
        display: block;
        text-align: left;
            width: 100% !important;
    max-width: 380px;
    }
    .button_cookie{
        margin-top:25px;
        max-width:380px;
        width:100%;
    }
}
</style>

<div id="cookie_note">
    <p>Мы используем файлы cookie и рекомендательные технологии. Пользуясь сайтом, вы соглашаетесь с <a href="https://specsnab39.ru/soglashenie.html" target="_blank">Политикой обработки персональных данных</a>.</p>
    <button class="button_cookie cookie_accept ">Я согласен</button>
</div>