
.flex-right{
	display: flex;
	justify-content: flex-end;
}
.space-between{
	display: flex;
	justify-content: space-between;
}
.dart-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: math.div($main-padding, -2);
    margin-left: math.div($main-padding, -2);	
}

.dart-align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.d-col{
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: math.div($main-padding, 2);
	padding-left: math.div($main-padding, 2);
}

@for $i from 1 to 13 {
	$percent: math.div($i, 12) * 100;
	.d-col-#{$i},
	.d-col-sm-#{$i},
	.d-col-md-#{$i},
	.d-col-lg-#{$i},
	.d-col-xl-#{$i},
	.d-col-xxl-#{$i} {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: math.div($main-padding, 2);
		padding-left: math.div($main-padding, 2);
	}
}


@for $i from 1 to 13 {
	$percent: math.div($i, 12) * 100;
	.d-col-#{$i} {
		flex: 0 0 auto;
		width: #{$percent}#{'%'};
	}
}

@media (min-width: $big-phones){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-sm-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $small-tablets){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-md-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $tablets){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-lg-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $small-desktop){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-xl-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
@media (min-width: $desktop){
	@for $i from 1 to 13 {
		$percent: math.div($i, 12) * 100;
		.d-col-xxl-#{$i} {
			flex: 0 0 auto;
			width: #{$percent}#{'%'};
		}
	}
}
/* ----------------- / LAYOUT ------------- */

@keyframes hook {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-30px, 0);
    }
    50% {
        transform: translate(0, 0);
    }
	75% {
        transform: translate(-30px, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes buttonWave {
	0% {
	  	opacity: 0.2;
		transform: scale(1);
	}
	100% {
	  	opacity: 0;
		transform: scale(30);
	}
}

@keyframes blinker {  
	from { 
		opacity: 1; 
	}
	to { 
		opacity: 0; 
	}
}

@keyframes blick{
	15%,
	to{
		left:110%;
	}
}

.visible-sm{
	display: none;
}


@media (max-width: 992px) {
	.hidden-sm{
		display: none !important;
	}
	.visible-sm{
		display: block !important;
	}
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}