@use 'sass:math';
@import 'reset';
@import  'vars';
@import 'fonts';

@import '_base';

body{
  min-width: 100%;
}

.dart-container{
  max-width: 100%;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.dart-form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  &.error{
    border: 1px solid #f00!important;
  }
}

.dart-form-group {
  margin-bottom: 1rem;
}

.dart-big-block{
  display: block;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px 25px;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
  }
  span{
    display: block;
    font-size: 18px;
    & + span{
      margin-top: 10px;
    }
    &.desc{
      font-size: 14px;
    }
  }
  &.dart-big-block-primary{
    background: #1586d8;
    border: 2px solid #1586d8;
    border-radius: 5px;
    color: #fff;
    &:hover{
      background-color: #31a9ff;
      border-color: #31a9ff;
      color: #fff;
    }
  }
  &.dart-big-block-secondary{
    background: #fb3343;
    border: 2px solid #fb3343;
    border-radius: 5px;
    color: #fff;
    &:hover{
      background-color: #c3232f;
      border-color: #c3232f;
      color: #fff;
    }
  }
}

.dart-btn{
  display: inline-block;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 7px 25px;
  color: transparent;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  &.dart-btn-block{
    display: block;
    width: 100%;
    text-align: center;
  }
  &.dart-btn-text{
    display: inline-block;
    padding: 0;
    color: $primary-color;
    &:hover{
      color: #343434;
    }
  }
  &.dart-btn-primary{
    background: #1586d8;
    border: 2px solid #1586d8;
    border-radius: 5px;
    padding: 7px 25px;
    color: #fff;
    &:hover{
      background-color: #31a9ff;
      border-color: #31a9ff;
      color: #fff;
    }
  }
  &.dart-btn-secondary{
    background: #fb3343;
    border: 2px solid #fb3343;
    border-radius: 5px;
    padding: 7px 25px;
    color: #fff;
    &:hover{
      background-color: #c3232f;
      border-color: #c3232f;
      color: #fff;
    }
  }
  &.dart-btn-bordered{
    background: transparent;
    border: 1px solid #343434;
    border-radius: 5px;
    padding: 7px 25px;
    color: #343434;
    &:hover{
      background-color: #343434;
      border-color: #343434;
      color: #fff;
    }
  }
  &:hover{
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
  }
  &.dart-btn-rounded {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    padding: 25px 70px;
    display: inline-block;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,#dd470d),to(#ff713a));
    background: -o-linear-gradient(left,#dd470d 0,#ff713a 100%);
    background: linear-gradient(to right,#dd470d 0,#ff713a 100%);
    border-radius: 80px;
    outline: 0;
    border: 0;
    -webkit-transition: .35s all ease;
    -o-transition: .35s all ease;
    transition: .35s all ease;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:hover {
      color: #fff;
      background: -webkit-gradient(linear,left top,right top,color-stop(0,#ff713a),to(#dd470d));
      background: -o-linear-gradient(left,#ff713a 0,#dd470d 100%);
      background: linear-gradient(to right,#ff713a 0,#dd470d 100%)
    }
  }
}

.dart-btn-animate {
  overflow: hidden;
  z-index: 1;
  position: relative;
  &::after {
    content: "";
    margin-left: 60px;
    width: 30px;
    height: 300px;
    background: #fff;
    -webkit-animation-delay: .05s;
    animation-delay: .05s;
    position: absolute;
    left: -40px;
    top: -150px;
    animation-timing-function: ease-in-out;
    transition: all .1s;
    animation-name: slideme;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: rotate(45deg)
  }
}

.button-with-desc{
  .desc{
    display: block;
    font-size: 14px;
    text-align: center;
    padding-top: 5px;
  }
}

.breadcrumbs {
  padding: 15px 0 0 0;
  margin-top: 0;
  position: relative;
  .breadcrumb{
    background: transparent;
    border-radius: 5px;
    list-style-type: none;
    padding: 0; 
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    .breadcrumb-item{
      font-size: 14px;
      a{
        font-family: 'ProximaNova-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        color: #FFFFFF;
      }
      & + .breadcrumb-item{
        padding-left: .5rem;
        &::before{
          display: inline-block;
          padding-right: .5rem;
          color: #6c757d;
          content: "|";
        }
      }
      &:hover{
        color: #fff;
        text-decoration: underline;
      }
      &.active {
        color: #6c757d
      }
      a{
        text-decoration: none;
      }
    }    
  }
}

.def-section {
  padding: 30px 0;
  overflow: hidden;
  .header{
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #3F3F3F;
  }

  blockquote{
    margin-bottom: 30px;
  }

  ul{
    margin-bottom: 15px;
    li{
      padding: 5px 0;
    }
  }

  p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: justify;
    color: #000000;
    & + *{
      margin-top: 15px;
    }
  }
}

.dart-pagination {
  padding: 15px 0;
  ul {
    display: flex;
    gap: 12px;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    li{
      &.active a {
        color: $primary-color;
      }
      a {
        text-decoration: none;
        font-size: 16px;
        transition: all 0.4s;
      }
    }
  }
}

header.page-header.page-header-small{
  min-height: 382px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    background: linear-gradient(180deg, rgba(77, 77, 79, 0.3) -112.2%, #1A1A23 89.87%);
    opacity: 0.8;
    transform: rotate(-180deg);
  }
  .block_center{
    margin-top: 46px;
  }
}

header.usual-none{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0;
  z-index: 2;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: block;
    background: linear-gradient(180deg, rgba(77, 77, 79, 0.3) -112.2%, #1A1A23 89.87%);
    opacity: 0.8;
    transform: rotate(-180deg);
  }
  & > .container{
    position: relative;
  }
}

.page-header-content{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  h1{
    font-family: 'ProximaNova-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.advantages{
  margin: 50px 0;
  .advantages-item{
    border: 1px solid #3F3F3F;
    padding: 25px 25px;
    text-align: center;
    position: relative;
    height: 100%;
    &__image{
      margin-bottom: 16px;
      img{
        display: inline-block;
      }
    }
    &__text{
      span{
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
        color: #000000;
      }
    }
  }
}

.form-control{
  display: block;
  background: #FFFFFF;
  border: none;
  padding: 17px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #3F3F3F;
}

.page-header .btns{
  width: 70%;
}

.rent{
  position: relative;
  padding: 22px 0;
  form{
    display: block;
    padding: 29px 29px;
    background: linear-gradient(90deg, #C1C558 0%, #96AD62 100%);
    .rent-fields-wrap{
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
      input{
        flex: 0 0 auto;
			  width: calc(85% - 9px);
      }
      button{
        flex: 0 0 auto;
			  width: calc(15% - 9px);
        background: #3F3F3F;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        cursor: pointer;
        transition: all .2s ease;
        &:hover{
          opacity: .8;
          transition: all .2s ease;
        }
      }
    }
  }
  .rent-cats{
    margin-top: 30px;
    ul{
      display: flex;
      flex-wrap: wrap;
      margin-left: -9px;
      margin-right: -9px;
      li{
        flex: 0 0 auto;
        width: 25%;
        padding: 10px 10px;
        a{
          display: block;
          padding: 17px 17px;
          border: 1px solid #3F3F3F;
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          text-align: center;
          text-transform: uppercase;
          color: #3F3F3F;
          transition: all .2s ease;
          &:hover{
            background: #3F3F3F;
            color: #FFF;
            transition: all .2s ease;
          }
        }
      }
    }
  }
  .rent-groups{
    margin: 0 0;
    .rent-group{
      .rent-group__header{
        margin: 50px 0 47px 0;
        span{
          display: block;
          font-style: normal;
          font-weight: 700;
          font-size: 55px;
          line-height: 1.3;
          text-transform: uppercase;
          color: #E9E9E9;
        }
      }
      .rent-group__items{
        .rent-group__item{
          display: flex;
          flex-wrap: wrap;
          margin-top: 30px;
          margin-left: -25px;
          margin-right: -25px;
          & + .rent-group__item{
            margin-top: 27px;
            padding-top: 26px;
            position: relative;
            &::before{
              content: '';
              display: block;
              position: absolute;
              left: 25px;
              right: 25px;
              top: 0;
              height: 1px;
              background: #3F3F3F;
            }
          }
          .rent-group__image{
            width: 30%;
            flex: 0 0 auto;
            padding: 0 25px;
            a{
              display: block;
              img{
                display: block;
              }
            }
          }
          .rent-group__text{
            width: 30%;
            flex: 0 0 auto;
            padding: 0 25px;
            a{
              display: block;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 24px;
              text-transform: uppercase;
              color: #3F3F3F;
            }
            p{
              padding-top: 60px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 1.3;
              color: #3F3F3F;
            }
          }
          .rent-group__cta{
            width: 40%;
            flex: 0 0 auto;
            padding: 0 25px 0 65px;
            .rent-group__prices{
              display: flex;
              flex-wrap: wrap;
              margin-left: -15px;
              margin-right: -15px;
              .rent-group__price{
                width: 33.333333%;
                flex: 0 0 auto;
                padding: 0 15px;
                & + .rent-group__price{
                  position: relative;
                  border-left: 1px solid #3F3F3F;
                }
                span{
                  display: block;
                  &.period{
                    display: block;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 1.3;
                    color: #97AD62;
                  }
                  &.price{
                    display: block;
                    margin-top: 5px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-transform: uppercase;
                    color: #3F3F3F;
                  }
                  &.desc{
                    display: block;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #3F3F3F;
                  }
                }
              }
            }
            .rent-group__contacts{
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 17px;
              color: #3F3F3F;
              padding: 20px 0;
            }
            a.rent-group__action{
              display: block;
              text-align: center;
              padding: 25px 25px;
              background: linear-gradient(90deg, #C1C558 0%, #96AD62 100%);
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 1.3;
              text-transform: uppercase;
              color: #FFFFFF;
              transition: all .2s ease;
              &:hover{
                transition: all .2s ease;
                background: linear-gradient(90deg, #96AD62 0%, #C1C558 100%);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .def-section-text{
    .header{
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 480px) {
  .mob-none{
    display: none;
  }
  .rent {
    padding-top: 0;
    form{
      margin-left: -25px;
      margin-right: -25px;
      .rent-fields-wrap input{
        width: calc(65% - 9px);
      }
      .rent-fields-wrap button{
        width: calc(35% - 9px);
      }
    }
    .rent-cats ul li{
      width: 100%;
    }
    .rent-groups .rent-group .rent-group__items .rent-group__item + .rent-group__item::before{
      display: none;
    }
    .rent-groups .rent-group .rent-group__header span{
      font-size: 30px;
    }
    .rent-groups .rent-group .rent-group__items .rent-group__item .rent-group__image{
      width: 100%;
    }
    .rent-groups .rent-group .rent-group__items .rent-group__item .rent-group__text{
      width: 100%;
      padding-top: 13px;
      p{
        padding-top: 13px;
      }
    }
    .rent-groups .rent-group .rent-group__items .rent-group__item .rent-group__cta{
      width: 100%;
      padding-top: 13px;
      padding-left: 25px;
    }
  }
}