<title>Спецснаб39</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="format-detection" content="telephone=no">
<link href="/css/styles.css" rel="stylesheet">
<link href="/css/mob.css" rel="stylesheet">
<link href="/css/slick.css" rel="stylesheet">
<script src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru_RU&amp;apikey=27f1a796-fc73-4e6e-923b-194343d38622" type="text/javascript"></script>

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/css?family=Raleway:700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.1/dist/jquery.fancybox.min.css" />
<meta name="yandex-verification" content="189b7d4eb8347edf" />

<meta name="description" content="">
<meta name="keywords" content="">